{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": false,
    "sinon": false
  },
  "rules": {
    "no-unused-expressions": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }]
  }
}
