{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": false,
    "sinon": false
  },
  "rules": {
    "no-unused-expressions": "off",
    "react/no-multi-comp": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }]
  }
}
