{
  "presets": [
    "./tools/latestPreset",
    "stage-1",
    "react"
  ],
  "plugins": ["dev-expression", "transform-runtime"],

  "env": {
    "cjs": {
      "plugins": ["add-module-exports"]
    }
  }
}
