{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 79, {
      "ignorePattern": " // eslint-disable-line "
    }],
    "react/jsx-filename-extension": [2, {
      "extensions": [".js"]
    }]
  },
  "plugins": [
    "react"
  ]
}
